EXPO_PUBLIC_FIREBASE_API_KEY= "AIzaSyCkBW4Vx0BEb-tVttT_1mj_SLg9KFf5GVA"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN= "ado-33def.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="ado-33def"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="ado-33def.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="294332488999"
EXPO_PUBLIC_FIREBASE_APP_ID="1:294332488999:web:a1120430ecdcf674ac9d02"
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY= "G-0K4184ZWB1"
